.terraform/
terraform.tfstate
terraform.tfstate.backup
.zip
*.zip
*.backup
creds.tf
test_output.log
test_output/

.env
*.local


node_modules
cypress/downloads
cypress/fixtures
cypress/support
ignore/
ignore

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?